@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "byekan";
    src: url("/dist/fonts/byekan.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "byekan";
    src: url("/dist/fonts/byekan-bold.ttf") format("truetype");
    font-weight: 700;
  }

  body {
    font-family: byekan;
    @apply overflow-x-hidden;
  }

  header {
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../img/bg2.jpg");
  }

  .container {
    @apply px-12 py-24 mx-auto text-center;
  }

  .nav-scrolled {
    @apply text-black bg-white !important;
  }

  .title-box {
    @apply mb-20;
  }

  .title-text {
    @apply text-lg;
  }

  .skills__right-side {
    background-image: url("../img/1.jpg");
  }

  .primary-gradient,
  .is-active {
    background: linear-gradient(to left, #2aafc0, #6976c5);
    color: white;
  }

  .border-bottom {
    border-bottom: 1px solid #eeeeee;
  }

  .border-x {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  .border-gray {
    border: 1px solid #eeeeee;
  }

  .border-blue {
    border: 1px solid #2aafc0;
  }

  .advantages__left-side {
    background-image: url("../img/2-1.jpg");
  }

  .swiper {
    width: 100%;
    height: auto;
  }

  h1 {
    @apply mb-6 text-3xl sm:text-5xl xl:text-6xl font-headline dark:text-yellow-200;
  }
  h2 {
    font-weight: 700;
    @apply mb-4 text-xl sm:text-2xl md:text-3xl xl:text-4xl font-headline dark:text-yellow-200;
  }
  h3 {
    font-weight: 700;
    @apply mb-3 text-xl md:mb-2 md:text-xl xl:text-2xl font-headline dark:text-yellow-200;
  }
  h5 {
    font-weight: 700;
    @apply text-sm md:text-base xl:text-lg font-headline dark:text-yellow-200;
  }
  p {
    color: #7f7f7f;
    @apply text-base xl:text-lg 2xl:text-xl dark:text-gray-300;
  }
  li {
    font-weight: 700;
    @apply text-sm md:text-base xl:text-sm;
  }
  svg {
    @apply text-4xl text-primaryColor self-center !important;
  }

  #achievements {
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url("../img/bg3.jpg");
  }
  #comments {
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../img/bg4.jpg");
  }

  .btn {
    @apply px-5 py-3 transition shadow-sm bg-primaryColor hover:shadow-none dark:text-white;
  }

  .btn-icon {
    @apply flex items-center;
  }

  .btn-gray {
    @apply bg-gray-300 hover:bg-gray-400 dark:bg-gray-500 dark:hover:bg-gray-600;
  }
  .btn-indigo {
    @apply bg-indigo-300 hover:bg-indigo-400 dark:bg-indigo-400 dark:hover:bg-indigo-500;
  }
  label {
  }
  .tab-content {
    max-height: 0;
  }
  /* :checked - resize to full height */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  /* Label formatting when open */
  .tab input:checked + label {
    background: linear-gradient(to left, #2aafc0, #6976c5);
    @apply text-white border-l-2;
  }
  /* Icon */
  .tab label::after {
    float: left;
    left: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1;
    font-size: 1.5rem;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* Icon formatting - closed */
  .tab input[type="checkbox"] + label::after {
    content: "+";
    font-weight: bold; /*.font-bold*/
  }
  .tab input[type="radio"] + label::after {
    content: "+";
    font-weight: bold; /*.font-bold*/
  }
  /* Icon formatting - open */
  .tab input[type="checkbox"]:checked + label::after {
    content: "-";
    font-size: 1.8rem;
    color: white; /*.text-grey-lightest*/
  }
  .tab input[type="radio"]:checked + label::after {
    content: "-";
    font-size: 1.8rem;
    color: white; /*.text-grey-lightest*/
  }

  .slider-btns {
    @apply text-white !important;
  }
}
